<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dingmei.dao.mapper.DataMapper">

    <select id="queryDataCommonWithDate" parameterType="map" resultType="map">
      SELECT id,dataType,year,month,quarter,week,day,${column}
      FROM dm_data
      WHERE dataType = #{dataType}
      ORDER BY year,quarter,month,week,day
    </select>

    <select id="queryDataCommon" parameterType="map" resultType="map">
        SELECT id,dataType,${column}
        FROM dm_data
        WHERE dataType = #{dataType}
        ORDER BY updateTime
    </select>
</mapper>