<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dingmei.dao.mapper.UserMapper">

    <select id="loadUserByUserName" resultType="com.dingmei.dao.entity.User" parameterType="map">
        SELECT id,userName,password,realName,addTime
        FROM t_user
        WHERE userName = #{userName}
    </select>

    <select id="queryUserRoleStrs" resultType="string" parameterType="map">
        SELECT b.roleStr FROM t_user_role a,t_role b
        WHERE a.roleId = b.id
        AND userId = #{userId}
    </select>
</mapper>