
body {
    background: #e9f0f4 url("img/login_bg.jpg") no-repeat scroll 0 0;
}
#wrapper {
    margin-bottom: 20px;
    padding-top: 100px;
    position: relative;
}
.btn-weibo {
    background-color: #ff6666;
    color: #fff !important;
}
.btn-weibo:hover {
    background-color: #ff4d4d;
}
.btn-weibo:active {
    background-color: #e64545;
}
.btn-qq {
    background-color: #418ae2;
    color: #fff !important;
}
.btn-qq:hover {
    background-color: #2d7fe2;
}
.btn-qq:active {
    background-color: #1773e2;
}
.btn-google {
    background-color: #e25d4a;
    color: #fff !important;
}
.btn-google:hover {
    background-color: #e34a33;
}
.btn-google:active {
    background-color: #ca422d;
}
.btn-facebook {
    background-color: #3a5799;
    color: #fff !important;
}
.btn-facebook:hover {
    background-color: #264a9b;
}
.btn-facebook:active {
    background-color: #244081;
}
.btn-twitter {
    background-color: #1eb5ee;
    color: #fff !important;
}
.btn-twitter:hover {
    background-color: #00ace6;
}
.btn-twitter:active {
    background-color: #009dd2;
}
.btn-wechat {
    background-color: #73db42;
    color: #fff !important;
}
.btn-primary {
    background-color: #59b0ff;
    border: medium none;
}
.btn-primary:hover {
    background-color: #4daaff;
}
.btn-primary:active, .btn-primary:focus {
    background-color: #1a90ff;
}
.btn:active, .btn.active {
    box-shadow: none;
}
.aw-login-box {
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    margin: 0 auto;
    width: 714px;
}
.aw-login-box .logo {
    background: rgba(0, 0, 0, 0) url("img/login_logo.png") no-repeat scroll 0 0;
    height: 94px;
    width: 151px;
}
.aw-login-box .logo a {
    display: block;
    height: 94px;
    width: 151px;
}
.aw-login-box .mod-body {
    padding: 50px 60px;
}
.aw-login-box .mod-body .content {
    margin-right: 60px;
    width: 300px;
}
.aw-login-box .mod-body .content h2 {
    color: #666;
    margin: 13px 0 40px;
}
.aw-login-box .mod-body .content ul li {
    line-height: 30px;
    margin-top: 20px;
}
.aw-login-box .mod-body .content ul li:first-child {
    margin-top: 0;
}
.aw-login-box .mod-body .content ul li.last {
    font-size: 12px;
    line-height: 40px;
}
.aw-login-box .mod-body .content ul li.last input {
}
.aw-login-box .mod-body .content ul li.last a {
    color: #666;
}
.aw-login-box .mod-body .content ul li .btn-primary {
    color: #fff !important;
    width: 112px;
}
.aw-login-box .mod-body .side-bar {
    border-left: 1px solid #e6e6e6;
    height: 326px;
    padding: 60px 0 60px 60px;
}
.aw-login-box .mod-body .side-bar h3 {
    color: #666;
    margin-bottom: 27px;
    text-align: center;
}
.aw-login-box .mod-body .side-bar .btn {
    height: 40px;
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
    position: relative;
    width: 170px;
}
.aw-login-box .mod-body .side-bar .btn i {
    color: #fff;
    font-size: 18px;
    left: 15px;
    position: absolute;
    top: 10px;
}
.aw-login-box .mod-body .side-bar .btn-wechat .img {
    display: none;
}
.aw-login-box .mod-body .side-bar .btn-wechat.active {
    background-color: #4d4d4d;
    height: 200px;
    position: relative;
}
.aw-login-box .mod-body .side-bar .btn-wechat.active .img {
    display: block;
    height: 148px;
    left: 10px;
    position: absolute;
    top: 40px;
    width: 148px;
}
.aw-login-box .mod-body .side-bar .btn-wechat.active img {
    max-width: 148px;
}
.aw-login-box .mod-body .side-bar .btn-wechat.active #aw-loading-mini-box {
    margin-top: 55px;
}
.aw-login-box .mod-body .form-control {
    border-color: #e6e6e6;
    box-shadow: none;
    height: 40px;
    padding-left: 15px !important;
}
.aw-login-box .mod-footer {
    background-color: #f5f5f5;
    color: #66b7ff;
    height: 70px;
    line-height: 70px;
    padding: 0 60px;
}
.aw-login-box .mod-footer span {
    color: #666;
}
.aw-login-box .mod-footer a {
    color: #66b7ff;
}
.aw-footer-wrap {
    color: #999;
}
.aw-footer-wrap a {
    color: #66b7ff;
}
@media (max-width: 640px) {
    #wrapper {
        padding: 20px;
    }
    .aw-login-wrap {
        width: auto;
    }
    .aw-login-box .aw-mod-head, .aw-login-box .aw-mod-body, .aw-login-box .aw-mod-footer {
        width: auto;
    }
    .aw-login-box .aw-mod-body {
        padding: 20px;
    }
    .aw-login-box .aw-mod-body #aw-login-user-name, .aw-mod-body #aw-login-user-password {
        width: 195px;
    }
    .aw-login-box .aw-mod-footer {
        padding: 0 10px !important;
    }
}
