<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop					
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx						
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context				
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/task					
		http://www.springframework.org/schema/task/spring-task-3.1.xsd">

<!-- 	test begin -->
<!--     job -->
    <bean id="testJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.dingmei.timer.jobs.TestJob"></property>
    </bean>
    
<!--     trigger -->
	<bean id="testTrigger-1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="testJob"></property>
		<property name="cronExpression" value="0/30 * * * * ?"></property>
	</bean>
<!-- 	test end -->
	
	
	
<!-- 	qbSpider begin -->
	<bean id="qbJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.dingmei.timer.jobs.QbSpider"></property>
	</bean>
	
	<bean id="qbTrigger-1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="qbJob"></property>
		<property name="cronExpression" value="0 0 0/6 * * ?"></property>
	</bean>
<!-- 	qbSpider end -->

<!-- 	bdjSpider begin -->
	<bean id="bdjJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.dingmei.timer.jobs.BDJSpider"></property>
	</bean>
	
	<bean id="bdjTrigger-1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="bdjJob"></property>
		<property name="cronExpression" value="0 0 0/6 * * ?"></property>
	</bean>
<!-- 	bdjSpider end -->


<!-- 	neihanSpider begin -->
	<bean id="nhJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.dingmei.timer.jobs.NeiHanSpider"></property>
	</bean>
	
	<bean id="nhTrigger-1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="nhJob"></property>
		<property name="cronExpression" value="0 0 0/6 * * ?"></property>
	</bean>
<!-- 	neihanSpider end -->

	
<!-- 	scheduler -->
	<bean id="quartzScheduler" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
<!-- 				<ref bean="testTrigger-1" /> -->
				<ref bean="qbTrigger-1"/>
				<ref bean="bdjTrigger-1"/>
				<ref bean="nhTrigger-1"/>
			</list>
		</property>
    </bean>
</beans>